@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(https://fonts.gstatic.com/s/droidserif/v8/tDbI2oqRg1oM3QBjjcaDkOr9rAA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(https://fonts.gstatic.com/s/ubuntumono/v7/KFOhCneDtsqEr0keqCMhbCc_OsbSlQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v7/KFOjCneDtsqEr0keqCMhbCc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(https://fonts.gstatic.com/s/ubuntumono/v7/KFO-CneDtsqEr0keqCMhbC-BL9H1tYg.ttf) format('truetype');
}
body {
  font-family: 'Rounded Mplus 1c', 'ヒラギノ丸ゴ Pro W3', 'Hiragino Maru Gothic Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
  font-weight: normal;
}
table {
  color: inherit;
  font-size: inherit;
}
iframe.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}
body:not(.remark-container) *:not(pre) > code {
  display: inline;
  padding: 0.2em;
}
a {
  color: #4444DD;
}
a:hover {
  color: #DD4444;
}
a:active {
  color: #DD44DD;
}
blockquote {
  border-radius: 12px;
  opacity: 0.6;
  background-color: #DDDDDD;
  padding: 8px;
  min-height: 57px;
}
blockquote::before {
  font-family: 'Droid Serif';
  margin-top: -35px;
  opacity: 0.3;
  content: "“";
  font-size: 180px;
  float: left;
  overflow-y: hidden;
  max-height: 100px;
}
blockquote > p {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
}
.remark-inline-code {
  border-radius: 6px;
  background-color: #EEEEAA;
}
.remark-slide-content {
  font-size: 35px;
}
.remark-code {
  border-radius: 8px;
  font-size: 30px;
}
.remark-slide pre.mathjax {
  font-size: 1.0em;
}
.reveal .slides {
  text-align: left;
}
.reveal .slides blockquote {
  width: auto;
}
.reveal .slides blockquote > p {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 15px;
  display: block;
  margin-right: 10px;
}
.reveal pre.mathjax {
  box-shadow: initial;
  font-size: 1.0em;
}
body.markdown {
  font-size: 1.0rem;
  /*
    &:not(.writing-HTML-document-rendering) div.index-frame
    {
        animation-name: index-fade;
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
        -webkit-animation-name: index-fade;
        -webkit-animation-duration: 0.6s;
        -webkit-animation-timing-function: ease-in-out;
    }
    */
}
body.markdown,
body.markdown table {
  overflow-x: hidden;
  padding: 0;
  margin: 0px;
  color: #444461;
  background-color: #FFFFFF;
}
body.markdown .wallpaper {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  content: '';
  overflow: hidden;
  padding: 0;
  opacity: 0.2;
  z-index: -2;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body.markdown .wallpaper::before {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  content: '';
  overflow: hidden;
  padding: 0;
  opacity: 0.6;
  z-index: -1;
}
body.markdown div.index-frame {
  z-index: 10;
  margin: 0px;
  padding: 0px;
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}
body.markdown div.index-frame div.index {
  padding: 0px;
  width: 23.60679775vw;
  min-height: 100vh;
  background-color: #444461;
  x-opacity: 0.8;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body.markdown div.index-frame div.index a {
  display: block;
  word-wrap: break-word;
  white-space: nowrap;
  text-decoration: none;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #444461;
}
body.markdown div.index-frame div.index a:not(.current):hover {
  color: #FFFFFF;
  background-color: #86812A;
  text-decoration: underline;
}
body.markdown div.index-frame div.index a.current {
  color: #444461;
  background-color: #FFFFFF;
}
body.markdown div.index-frame div.index a.level1 {
  padding: 1em 1em 1em 1vw;
  padding-left: calc(0vw + env(safe-area-inset-left));
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 1.2);
}
body.markdown div.index-frame div.index a.level2 {
  padding: 1em 1em 1em 2vw;
  padding-left: calc(1vw + env(safe-area-inset-left));
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 1);
}
body.markdown div.index-frame div.index a.level3 {
  padding: 1em 1em 1em 3vw;
  padding-left: calc(2vw + env(safe-area-inset-left));
  font-size: 70%;
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 0.9);
}
body.markdown div.index-frame div.index a.level4 {
  padding: 1em 1em 1em 4vw;
  padding-left: calc(3vw + env(safe-area-inset-left));
  font-size: 60%;
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 0.8);
}
body.markdown div.index-frame div.index a.level5 {
  padding: 1em 1em 1em 5vw;
  padding-left: calc(4vw + env(safe-area-inset-left));
  font-size: 50%;
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 0.8);
}
body.markdown div.index-frame div.index a.level6 {
  padding: 1em 1em 1em 6vw;
  padding-left: calc(5vw + env(safe-area-inset-left));
  font-size: 40%;
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 0.8);
}
body.markdown div.index-frame div.index a.level7 {
  padding: 1em 1em 1em 7vw;
  padding-left: calc(6vw + env(safe-area-inset-left));
  font-size: 35%;
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 0.8);
}
body.markdown div.index-frame div.index a.level8 {
  padding: 1em 1em 1em 8vw;
  padding-left: calc(7vw + env(safe-area-inset-left));
  font-size: 30%;
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 0.8);
}
body.markdown div.index-frame div.index a.level9 {
  padding: 1em 1em 1em 9vw;
  padding-left: calc(8vw + env(safe-area-inset-left));
  font-size: 30%;
  font-size: calc((((100vw - 60rem) / 180) + 1rem) * 0.8);
}
body.markdown div.index-frame:hover,
body.markdown div.index-frame div.index {
  visibility: visible;
}
@media (min-width: 60rem) {
  body.markdown {
    font-size: calc(((100vw - 60rem) / 180) + 1rem);
  }
}
body.markdown div.content {
  overflow-y: auto;
}
body.markdown div.content h1 {
  font-size: 2.0em;
  font-weight: bold;
}
body.markdown div.content h2 {
  font-size: 1.5em;
  font-weight: bold;
}
body.markdown div.content h3,
body.markdown div.content h4,
body.markdown div.content h5,
body.markdown div.content h6,
body.markdown div.content h7,
body.markdown div.content h8,
body.markdown div.content h9 {
  font-size: 1.2em;
  font-weight: bold;
}
@media (max-width: 60rem) {
  body.markdown div.content {
    padding: 1.0rem;
    width: calc(100vw - 2rem);
  }
  body.markdown div.content * {
    max-width: calc(100vw - 2rem);
  }
}
@media (min-width: 60rem) {
  body.markdown div.content {
    padding: 2.0rem;
    padding-left: calc(((100vw - 100vw / 1.61803399) / 2) + 1rem);
    padding-right: calc(((100vw - 100vw / 1.61803399) / 2) + 1rem);
    width: calc(100vw / 1.61803399 - 2rem);
  }
  body.markdown div.content * {
    max-width: calc(100vw / 1.61803399 - 2rem);
  }
}
body.markdown.with-wallpaperx div.content {
  -text-shadow: 6px 6px 6px #FFFFFF, 6px -6px 6px #FFFFFF, -6px -6px 6px #FFFFFF, -6px 6px 6px #FFFFFF;
  text-shadow: 3px 3px 3px #FFFFFF, 3px -3px 3px #FFFFFF, -3px -3px 3px #FFFFFF, -3px 3px 3px #FFFFFF;
}
body.markdown.solid {
  border-top-width: calc(2.2vw * 2);
  border-top-color: #FFFFFF;
  border-top-style: solid;
}
body.markdown.solid div.index-frame div.index a.level1:first-child {
  font-size: calc(2.2vw);
  padding: calc(2.2vw * 0.5);
  padding-left: 1vw;
  padding-left: calc(0vw + env(safe-area-inset-left));
}
body.markdown.solid div.content {
  padding-top: 0px;
}
body.markdown.solid div.content h1:first-child {
  white-space: nowrap;
  top: 0px;
  position: absolute;
  margin-top: 0px;
  font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding: calc(2.2vw * 0.5);
  padding-left: 1vw;
  padding-left: calc(0vw + env(safe-area-inset-left));
  font-size: calc(2.2vw);
  line-height: 100%;
  color: #444461;
  background-color: #FFFFFF;
}
body.markdown.solid.writing-HTML-document-rendering div.content,
body.markdown.solid #writing-HTML-document-rendering-panel {
  margin-top: 0px;
}
@media (max-width: 120rem) {
  body.markdown.solid {
    border-top-width: calc(2em * 2);
  }
  body.markdown.solid div.index-frame div.index a.level1:first-child {
    font-size: 2em;
    padding: calc(2em * 0.25);
    padding-left: 1vw;
    padding-left: calc(0vw + env(safe-area-inset-left));
  }
  body.markdown.solid div.content h1:first-child {
    padding: calc(2em * 0.25);
    padding-left: 1vw;
    padding-left: calc(0vw + env(safe-area-inset-left));
    font-size: 2em;
  }
}
body.markdown div.content a,
body.markdown.deep-main div.content a,
body.markdown.wine-main div.content a,
body.markdown.wine-main div.content a,
body.markdown.violet-main div.content a,
body.markdown.gold-theme div.content a {
  color: #000000;
}
body.markdown div.content a:hover,
body.markdown.deep-main div.content a:hover,
body.markdown.wine-main div.content a:hover,
body.markdown.wine-main div.content a:hover,
body.markdown.violet-main div.content a:hover,
body.markdown.gold-theme div.content a:hover {
  color: #BB2222;
}
body.markdown div.content a:active,
body.markdown.deep-main div.content a:active,
body.markdown.wine-main div.content a:active,
body.markdown.wine-main div.content a:active,
body.markdown.violet-main div.content a:active,
body.markdown.gold-theme div.content a:active {
  color: #BB22BB;
}
body.markdown.deep-base div.content a {
  color: #EEEEFF;
}
body.markdown.deep-base div.content a:hover {
  color: #FF8888;
}
body.markdown.deep-base div.content a:active {
  color: #FF88FF;
}
body.markdown.white-base,
body.markdown.white-base table {
  background-color: #FFFFFF;
}
body.markdown.white-base div.index-frame div.index a {
  color: #FFFFFF;
}
body.markdown.white-base div.index-frame div.index a:not(.current):hover {
  color: #FFFFFF;
}
body.markdown.white-base div.index-frame div.index a.current {
  background-color: #FFFFFF;
}
body.markdown.white-base div.content h1:first-child {
  background-color: #FFFFFF;
}
body.markdown.white-main,
body.markdown.white-main table {
  color: #FFFFFF;
}
body.markdown.white-main div.index-frame div.index {
  background-color: #FFFFFF;
}
body.markdown.white-main div.index-frame div.index a {
  background-color: #FFFFFF;
}
body.markdown.white-main div.index-frame div.index a.current {
  color: #FFFFFF;
}
body.markdown.white-main div.content h1:first-child {
  color: #FFFFFF;
}
body.markdown.deep-base,
body.markdown.deep-base table {
  background-color: #446161;
}
body.markdown.deep-base.solid {
  border-top-color: #446161;
}
body.markdown.deep-base div.index-frame div.index a {
  color: #446161;
}
body.markdown.deep-base div.index-frame div.index a:not(.current):hover {
  color: #446161;
}
body.markdown.deep-base div.index-frame div.index a.current {
  background-color: #446161;
}
body.markdown.deep-base div.content h1:first-child {
  background-color: #446161;
}
body.markdown.deep-main,
body.markdown.deep-main table {
  color: #446161;
}
body.markdown.deep-main div.index-frame div.index {
  background-color: #446161;
}
body.markdown.deep-main div.index-frame div.index a {
  background-color: #446161;
}
body.markdown.deep-main div.index-frame div.index a.current {
  color: #446161;
}
body.markdown.deep-main div.content h1:first-child {
  color: #446161;
}
body.markdown.wine-main,
body.markdown.wine-main table {
  color: #614444;
}
body.markdown.wine-main div.index-frame div.index {
  background-color: #614444;
}
body.markdown.wine-main div.index-frame div.index a {
  background-color: #614444;
}
body.markdown.wine-main div.index-frame div.index a.current {
  color: #614444;
}
body.markdown.wine-main div.content h1:first-child {
  color: #614444;
}
body.markdown.violet-main,
body.markdown.violet-main table {
  color: #614461;
}
body.markdown.violet-main div.index-frame div.index {
  background-color: #614461;
}
body.markdown.violet-main div.index-frame div.index a {
  background-color: #614461;
}
body.markdown.violet-main div.index-frame div.index a.current {
  color: #614461;
}
body.markdown.violet-main div.content h1:first-child {
  color: #614461;
}
body.markdown.violet-accent div.content a:hover {
  color: #614461;
}
body.markdown.violet-accent div.index-frame div.index a:not(.current):hover {
  background-color: #614461;
}
body.markdown.gold-main,
body.markdown.gold-main table {
  color: #616144;
}
body.markdown.gold-main div.index-frame div.index {
  background-color: #616144;
}
body.markdown.gold-main div.index-frame div.index a {
  background-color: #616144;
}
body.markdown.gold-main div.index-frame div.index a.current {
  color: #616144;
}
body.markdown.gold-main div.content h1:first-child {
  color: #616144;
}
@media (min-width: 45rem) {
  body.markdown.with-index div.content {
    display: block;
    float: left;
    overflow-y: auto;
    margin-left: 23.60679775vw;
    padding-left: calc((100vw - 100vw / 1.61803399) * (1 - (1 / 1.61803399)) / 2 + 1rem);
    padding-right: calc((100vw - 100vw / 1.61803399) * (1 - (1 / 1.61803399)) / 2 + 1rem);
    width: calc(100vw / 1.61803399 - 2rem);
  }
  body.markdown.with-index div.content * {
    max-width: calc(100vw / 1.61803399 - 2rem);
  }
  body.markdown.with-index div.content pre {
    overflow-x: auto;
  }
  body.markdown.with-index.solid div.content h1:first-child {
    margin-left: calc(0px - (((100vw - 100vw / 1.61803399) / 1.61803399 + (100vw - 100vw / 1.61803399) * (1 - (1 / 1.61803399)) / 2) + 1rem));
    margin-right: calc(0px - ((100vw - 100vw / 1.61803399) * (1 - (1 / 1.61803399)) / 2 + 1rem));
  }
  body.markdown:not(.writing-HTML-document-rendering) div.index-frame {
    display: block;
  }
}
body.markdown pre.mathjax {
  font-size: 1.3em;
}
body.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
}
body.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
body.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
body.markdown table tr th {
  font-weight: 600;
}
body.markdown table tr th,
body.markdown table tr td {
  padding: 0.5em 1.0em;
  border: 1px solid #dfe2e5;
}
@media (min-width: 360px) and (max-width: 720px) {
  body.markdown blockquote {
    margin-left: calc(((100vw - 360px) / 11.25) + 8px);
    margin-right: calc(((100vw - 360px) / 11.25) + 8px);
  }
  body.markdown blockquote::before {
    margin-top: calc(((100vw - 360px) / -12.41) - 6px);
    font-size: calc(((100vw - 360px) / 2.4) + 30px);
  }
}
@media (max-width: 360px) {
  body.markdown blockquote {
    margin-left: 8px;
    margin-right: 8px;
  }
  body.markdown blockquote::before {
    margin-top: -6px;
    font-size: 30px;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  blockquote > p {
    margin-left: calc(calc(calc(100vw - 360px) / 4.5) + 20px);
  }
}
@media (max-width: 360px) {
  blockquote > p {
    margin-left: 20px;
  }
}
@keyframes index-fade {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 0.8;
  }
}
@-webkit-keyframes index-fade {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 0.8;
  }
}
/*# sourceMappingURL=default.css.map */