@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body
{
    font-family: 'Droid Serif';
}
h1, h2, h3, h4, h5, h6, h7, h8, h9
{
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}
.remark-code,
.remark-inline-code
{
    font-family: 'Ubuntu Mono';
}

.remark-inline-code
{
    border-radius: 6px;
    background-color: #EEEEAA;
}

.remark-slide-content
{
    font-size: 35px;
}
.remark-code
{
    border-radius: 8px;
    font-size: 30px;
}

a
{
    color: #4444DD;
}

a:hover
{
    color: #DD4444;
}

a:active
{
    color: #DD44DD;
}

blockquote
{
    border-radius: 12px;
    opacity: 0.6;
    background-color: #DDDDDD;
    padding: 8px;
    min-height: 57px;
}
blockquote::before
{
    margin-top: -35px;
    opacity: 0.3;
    content: "“";
    font-size: 180px;
    float: left;
    overflow-y: hidden;
    max-height: 92;
}
blockquote > p
{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
}

@media (min-width: 30.0rem) and (max-width: 60.0rem)
{
    body.marked
    {
        padding: calc(calc(100vw - 30.0rem) / 15);
    }
}

@media (min-width: 60.0rem)
{
    body.marked
    {
        padding-top: 2.0rem;
        padding-left: calc(calc(100vw - 53.5278640452rem) / 3.2360679774);
        padding-right: calc(calc(100vw - 53.5278640452rem) / 3.2360679774);
        /* 3.2360679774 ????(1.6180339887) * 2.0 */
        /* 53.5278640452 == 60.0 - (2.0 * 3.2360679774) */
    }
}

@media (min-width: 60.0rem)
{
    body.marked
    {
        font-size: calc(calc(calc(100vw - 60.0rem) / 180.0) + 1.0rem);
    }
}

@media (min-width: 360px) and (max-width: 720px)
{
    body.marked blockquote
    {
        margin-left: calc(calc(calc(100vw - 360px) / 11.25) + 8px);
        margin-right: calc(calc(calc(100vw - 360px) / 11.25) + 8px);
    }
    body.marked blockquote::before
    {
        margin-top: calc(calc(calc(100vw - 360px) / -12.41) - 6px);
        font-size: calc(calc(calc(100vw - 360px) / 2.4) + 30px);
    }

    blockquote > p
    {
        margin-left: calc(calc(calc(100vw - 360px) / 4.5) + 20px);
    }
}

@media (max-width: 360px)
{
    body.marked blockquote
    {
        margin-left: 8px;
        margin-right: 8px;
    }
    body.marked blockquote::before
    {
        margin-top: -6px;
        font-size: 30px;
    }

    blockquote > p
    {
        margin-left: 20px;
    }
}
