@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.remark-slide-content
{
    font-size: 35px;
}
.remark-code
{
    font-size: 30px;
}

blockquote
{
    opacity: 0.6;
    background-color: #DDDDDD;
    padding: 8px;
}
blockquote::before
{
    margin-top: -30px;
    opacity: 0.3;
    content: "“";
    font-size: 180px;
    float: left;
}
blockquote > p
{
    margin-left: 100px;
}