@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body
{
    font-family: 'Rounded Mplus 1c', 'ヒラギノ丸ゴ Pro W3', 'Hiragino Maru Gothic Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
h1, h2, h3, h4, h5, h6, h7, h8, h9
{
    font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
    font-weight: normal;
}
table
{
    color: inherit;
    font-size: inherit;
}

iframe.twitter-tweet-rendered
{
    margin-left: auto;
    margin-right: auto;
}

body:not(.remark-container) *:not(pre) > code
{
    display: inline;
    padding: 0.2em;
}

a
{
    color: #4444DD;
    &:hover
    {
        color: #DD4444;
    }
    &:active
    {
        color: #DD44DD;
    }
}

blockquote
{
    border-radius: 12px;
    opacity: 0.6;
    background-color: #DDDDDD;
    padding: 8px;
    min-height: 57px;
    &::before
    {
        font-family: 'Droid Serif';
        margin-top: -35px;
        opacity: 0.3;
        content: "“";
        font-size: 180px;
        float: left;
        overflow-y: hidden;
        max-height: 100px;
    }
    & > p
    {
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.remark-code,
.remark-inline-code
{
    font-family: 'Ubuntu Mono';
}

.remark-inline-code
{
    border-radius: 6px;
    background-color: #EEEEAA;
}

.remark-slide-content
{
    font-size: 35px;
}
.remark-code
{
    border-radius: 8px;
    font-size: 30px;
}
.remark-slide pre.mathjax
{
    font-size: 1.0em;
}

.reveal
{
    .slides
    {
        text-align: left;
        blockquote
        {
            width: auto;
            & > p
            {
                margin-left: 100px;
                margin-top: 20px;
                margin-bottom: 15px;
                display: block;
                margin-right: 10px;
            }
        }
    }
    pre.mathjax
    {
        box-shadow: initial;
        font-size: 1.0em;
    }
}

@markdown-min-width-with-index: 45.0rem;
@markdown-size-a-screen-max-width: 60.0rem;
@writing-phi: 1.6180339887;
@markdown-header-font-size: ((((100vw - 60.0rem) / 180.0) + 1.0rem) * 1.8);
@markdown-content-width: (100vw / @writing-phi);
@markdown-index-width: ((100vw - @markdown-content-width) / @writing-phi);
@markdown-content-horizontal-padding: ((100vw - @markdown-content-width) * (1.0 - (1.0 / @writing-phi)) / 2.0);

@markdown-default-base-color: #FFFFFF;
@markdown-default-main-color: #444461;
@markdown-white-color: #FFFFFF;
@markdown-deep-color: #446161;
@markdown-wine-color: #614444;
@markdown-abyss-color: #444461;
@markdown-violet-color: #614461;
@markdown-gold-color: #616144;
body.markdown
{
    &,
    table
    {
        overflow-x: hidden;
        padding: 0;
        margin: 0px;
        color: @markdown-default-main-color;
        background-color: @markdown-default-base-color;
    }
    font-size: 1.0rem;
    .wallpaper
    {
        // 壁紙用のレイヤー
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        content: '';
        overflow: hidden;
        padding: 0;
        opacity: 0.2;
        z-index: -2;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        &::before
        {
            // 壁紙(body.markdown::before)の上にグラデーションをかける為のレイヤー
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100vw;
            height: 100vh;
            content: '';
            overflow: hidden;
            padding: 0;
            opacity: 0.6;
            z-index: -1;
        }
    }
    div.index-frame
    {
        z-index: 10;
        margin: 0px;
        padding: 0px;
        display: none;
        visibility: hidden;
        position: fixed;
        top: 0px;
        left: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100vh;
        div.index
        {
            padding: 0px;
            width: @markdown-index-width;
            min-height: 100vh;
        
            background-color: @markdown-default-main-color;
            
            x-opacity: 0.8;
        
            font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            a
            {
                display: block;
                word-wrap: break-word;
                white-space: nowrap;
                text-decoration: none;
                line-height: 100%;
                color: @markdown-default-base-color;
                background-color: @markdown-default-main-color;
                &:not(.current):hover
                {
                    color: @markdown-default-base-color;
                    background-color: #86812A;
                    text-decoration: underline;
                }
                &.current
                {
                    color: @markdown-default-main-color;
                    background-color: @markdown-default-base-color;
                }
                &.level1
                {
                    padding: 1em 1em 1em 1vw;
                    padding-left: calc(1vw + env(safe-area-inset-left));
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 1.2);
                }
                &.level2
                {
                    padding: 1em 1em 1em 2vw;
                    padding-left: calc(2vw + env(safe-area-inset-left));
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 1.0);
                }
                &.level3
                {
                    padding: 1em 1em 1em 3vw;
                    padding-left: calc(3vw + env(safe-area-inset-left));
                    font-size: 70%;
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 0.9);
                }
                &.level4
                {
                    padding: 1em 1em 1em 4vw;
                    padding-left: calc(4vw + env(safe-area-inset-left));
                    font-size: 60%;
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 0.8);
                }
                &.level5
                {
                    padding: 1em 1em 1em 5vw;
                    padding-left: calc(5vw + env(safe-area-inset-left));
                    font-size: 50%;
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 0.8);
                }
                &.level6
                {
                    padding: 1em 1em 1em 6vw;
                    padding-left: calc(6vw + env(safe-area-inset-left));
                    font-size: 40%;
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 0.8);
                }
                &.level7
                {
                    padding: 1em 1em 1em 7vw;
                    padding-left: calc(7vw + env(safe-area-inset-left));
                    font-size: 35%;
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 0.8);
                }
                &.level8
                {
                    padding: 1em 1em 1em 8vw;
                    padding-left: calc(8vw + env(safe-area-inset-left));
                    font-size: 30%;
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 0.8);
                }
                &.level9
                {
                    padding: 1em 1em 1em 9vw;
                    padding-left: calc(9vw + env(safe-area-inset-left));
                    font-size: 30%;
                    font-size: calc((((100vw - 60.0rem) / 180.0) + 1.0rem) * 0.8);
                }
            }
        }
        &:hover,
        & div.index
        {
            visibility: visible;
        }
    }
    @media (min-width: @markdown-size-a-screen-max-width)
    {
        &
        {
            font-size: calc(((100vw - @markdown-size-a-screen-max-width) / 180.0) + 1.0rem);
        }
    }
    div.content
    {
        overflow-y: auto;
        h1
        {
            font-size: 2.0em;
            font-weight: bold;
        }
        h2
        {
            font-size: 1.5em;
            font-weight: bold;
        }
        h3, h4, h5, h6, h7, h8, h9
        {
            font-size: 1.2em;
            font-weight: bold;
        }
        @media (max-width: @markdown-size-a-screen-max-width)
        {
            &
            {
                padding: 1.0rem; // calc が poor な環境の保険
                // max-height: calc(100vh - calc(calc(calc(100vw / 40) + 0.5rem) * 2.0));
                width: calc(100vw - 2.0rem);
                *
                {
                    max-width: calc(100vw - 2.0rem);
                }
            }
        }
        @media (min-width: @markdown-size-a-screen-max-width)
        {
            &
            {
                padding: 2.0rem; // calc が poor な環境の保険を兼ねる
                padding-left: calc(((100vw - @markdown-content-width) / 2.0) + 1.0rem);
                padding-right: calc(((100vw - @markdown-content-width) / 2.0) + 1.0rem);
                width: calc(@markdown-content-width - 2.0rem);
                *
                {
                    max-width: calc(@markdown-content-width - 2.0rem);
                }

            }
        }
    }
    &.with-wallpaperx div.content
    {
        -text-shadow: 6px 6px 6px @markdown-default-base-color, 6px -6px 6px @markdown-default-base-color, -6px -6px 6px @markdown-default-base-color, -6px 6px 6px @markdown-default-base-color; 
        text-shadow: 3px 3px 3px @markdown-default-base-color, 3px -3px 3px @markdown-default-base-color, -3px -3px 3px @markdown-default-base-color, -3px 3px 3px @markdown-default-base-color; 
    }
    &.solid
    {
        border-top-width: calc(@markdown-header-font-size * 2.0);
        border-top-color: @markdown-default-base-color;
        border-top-style: solid;
        div.index-frame div.index a.level1:first-child
        {
            font-size: calc(@markdown-header-font-size);
            padding: calc(@markdown-header-font-size * 0.5);
            padding-left: 1vw;
            padding-left: calc(1vw + env(safe-area-inset-left));
        }
        div.content
        {
            padding-top: 0px;
            h1:first-child
            {
                white-space: nowrap;
                top: 0px;
                position: absolute;
                margin-top: 0px;
                font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: normal;
                padding: calc(@markdown-header-font-size * 0.5);
                font-size: calc(@markdown-header-font-size);
                line-height: 100%;
                color: @markdown-default-base-color;
                background-color: @markdown-default-main-color;
                width: 100vw;
                margin-left: -0.5em;
                padding-left: 0.5em;
                @media (min-width: @markdown-min-width-with-index)
                {
                    &
                    {
                        margin-left: calc(((@markdown-content-width - 100vw) / 2.0) - 1.0rem);
                        margin-right: calc(((@markdown-content-width - 100vw) / 2.0) - 1.0rem);
                        padding-left: calc(((100vw - @markdown-content-width) / 2.0) + 1.0rem);
                        padding-right: calc(((100vw - @markdown-content-width) / 2.0) + 1.0rem);
                    }
                }
            }
        }
        &.writing-HTML-document-rendering div.content,
        #writing-HTML-document-rendering-panel
        {
            margin-top: 0px;
        }
    }
    @media (max-width: 120rem)
    {
        &.solid
        {
            border-top-width: calc(2em * 2.0);
            div.index-frame div.index a.level1:first-child
            {
                font-size: 2em;
                padding: calc(2em * 0.25);
                padding-left: 1vw;
                padding-left: calc(1vw + env(safe-area-inset-left));
            }
            div.content
            {
                h1:first-child
                {
                    padding: calc(2em * 0.25);
                    padding-left: 0.5em;
                    padding-left: calc(0.5em + env(safe-area-inset-left));
                    font-size: 2em;
                }
            }
        }
    }
    &,
    &.deep-main,
    &.wine-main,
    &.wine-main,
    &.violet-main,
    &.gold-theme
    {
        div.content
        {
            a
            {
                color: #000000;
                &:hover
                {
                    color: #BB2222;
                }
                &:active
                {
                    color: #BB22BB;
                }
            }
        }
    }
    &.deep-base
    {
        div.content
        {
            a
            {
                color: #EEEEFF;
                &:hover
                {
                    color: #FF8888;
                }
                &:active
                {
                    color: #FF88FF;
                }
            }
        }
    }
    &.white-base
    {
        &,
        table
        {
            background-color: @markdown-white-color;
        }
        div.index-frame div.index a
        {
            color: @markdown-white-color;
            &:not(.current):hover
            {
                color: @markdown-white-color;
            }
            &.current
            {
                background-color: @markdown-white-color;
            }
        }
        div.content
        {
            h1:first-child
            {
                background-color: @markdown-white-color;
            }
        }
    }
    &.white-main
    {
        &,
        table
        {
            color: @markdown-white-color;
        }
        div.index-frame div.index
        {
            background-color: @markdown-white-color;
        }
        div.index-frame div.index a
        {
            background-color: @markdown-white-color;
            &.current
            {
                color: @markdown-white-color;
            }
        }
        div.content
        {
            h1:first-child
            {
                color: @markdown-white-color;
            }
        }
    }
    &.deep-base
    {
        &,
        table
        {
            background-color: @markdown-deep-color;
        }
        &.solid
        {
            border-top-color: @markdown-deep-color;
        }
        div.index-frame div.index a
        {
            color: @markdown-deep-color;
            &:not(.current):hover
            {
                color: @markdown-deep-color;
            }
            &.current
            {
                background-color: @markdown-deep-color;
            }
        }
        div.content
        {
            h1:first-child
            {
                background-color: @markdown-deep-color;
            }
        }
    }
    &.deep-main
    {
        &,
        table
        {
            color: @markdown-deep-color;
        }
        div.index-frame div.index
        {
            background-color: @markdown-deep-color;
        }
        div.index-frame div.index a
        {
            background-color: @markdown-deep-color;
            &.current
            {
                color: @markdown-deep-color;
            }
        }
        div.content
        {
            h1:first-child
            {
                color: @markdown-deep-color;
            }
        }
    }
    &.wine-main
    {
        &,
        table
        {
            color: @markdown-wine-color;
        }
        div.index-frame div.index
        {
            background-color: @markdown-wine-color;
        }
        div.index-frame div.index a
        {
            background-color: @markdown-wine-color;
            &.current
            {
                color: @markdown-wine-color;
            }
        }
        div.content
        {
            h1:first-child
            {
                color: @markdown-wine-color;
            }
        }
    }
    &.violet-main
    {
        &,
        table
        {
            color: @markdown-violet-color;
        }
        div.index-frame div.index
        {
            background-color: @markdown-violet-color;
        }
        div.index-frame div.index a
        {
            background-color: @markdown-violet-color;
            &.current
            {
                color: @markdown-violet-color;
            }
        }
        div.content
        {
            h1:first-child
            {
                color: @markdown-violet-color;
            }
        }
    }
    &.violet-accent
    {
        div.content
        {
            a
            {
                &:hover
                {
                    color: @markdown-violet-color;
                }
            }
        }
        div.index-frame div.index a
        {
            &:not(.current):hover
            {
                background-color: @markdown-violet-color;
            }
        }
    }
    &.gold-main
    {
        &,
        table
        {
            color: @markdown-gold-color;
        }
        div.index-frame div.index
        {
            background-color: @markdown-gold-color;
        }
        div.index-frame div.index a
        {
            background-color: @markdown-gold-color;
            &.current
            {
                color: @markdown-gold-color;
            }
        }
        div.content
        {
            h1:first-child
            {
                color: @markdown-gold-color;
            }
        }
    }
    @media (min-width: @markdown-min-width-with-index)
    {
        &.with-index
        {
            div.content
            {
                display: block;
                float: left;
                overflow-y: auto;
                margin-left: @markdown-index-width;
                padding-left: calc(@markdown-content-horizontal-padding + 1.0rem);
                padding-right: calc(@markdown-content-horizontal-padding + 1.0rem);
                width: calc(@markdown-content-width - 2.0rem);
                *
                {
                    max-width: calc(@markdown-content-width - 2.0rem);
                }
                pre
                {
                    overflow-x: auto;
                }
            }
        }
        &.with-index.solid
        {
            div.content
            {
                h1:first-child
                {
                    margin-left: calc(0px - ((@markdown-index-width + @markdown-content-horizontal-padding) + 1.0rem));
                    margin-right: calc(0px - (@markdown-content-horizontal-padding + 1.0rem));
                    padding: calc(2em * 0.25);
                    padding-left: 1vw;
                    padding-left: calc(1vw + env(safe-area-inset-left));
                    color: @markdown-default-main-color;
                    background-color: @markdown-default-base-color;
                }
            }
        }
        &:not(.writing-HTML-document-rendering) div.index-frame
        {
            display: block;
        }
    }

    /*
    &:not(.writing-HTML-document-rendering) div.index-frame
    {
        animation-name: index-fade;
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
        -webkit-animation-name: index-fade;
        -webkit-animation-duration: 0.6s;
        -webkit-animation-timing-function: ease-in-out;
    }
    */

    & pre.mathjax
    {
        font-size: 1.3em;
    }
    
    & table
    {
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: 100%;
        overflow: auto;
        & tr
        {
            background-color: #fff;
            border-top: 1px solid #c6cbd1;
            &:nth-child(2n)
            {
                background-color: #f6f8fa;
            }
            th
            {
                font-weight: 600;
            }
            th, td
            {
                padding: 0.5em 1.0em;
                border: 1px solid #dfe2e5;
            }
        }
    }
    
    @media (min-width: 360px) and (max-width: 720px)
    {
        blockquote
        {
            margin-left: calc(((100vw - 360px) / 11.25) + 8px);
            margin-right: calc(((100vw - 360px) / 11.25) + 8px);
            &::before
            {
                margin-top: calc(((100vw - 360px) / -12.41) - 6px);
                font-size: calc(((100vw - 360px) / 2.4) + 30px);
            }
        }
    }
    @media (max-width: 360px)
    {
        blockquote
        {
            margin-left: 8px;
            margin-right: 8px;
            &::before
            {
                margin-top: -6px;
                font-size: 30px;
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 720px)
{
    blockquote > p
    {
        margin-left: calc(calc(calc(100vw - 360px) / 4.5) + 20px);
    }
}

@media (max-width: 360px)
{
    blockquote > p
    {
        margin-left: 20px;
    }
}

@keyframes index-fade
{
    from
    {
        opacity: 0.0;
    }
    to
    {
        opacity: 0.8;
    }
}
@-webkit-keyframes index-fade
{
    from
    {
        opacity: 0.0;
    }
    to
    {
        opacity: 0.8;
    }
}
