@import url(../theme/default.css);

.remark-slide-content
{
    animation-name: slide;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes slide
{
    from
    {
        transform: translateX(100%);
    }
    to
    {
        transform: translateX(0%);
    }
}
@-webkit-keyframes slide
{
    from
    {
        -webkit-transform: translateX(100%);
    }
    to
    {
        -webkit-transform: translateX(0%);
    }
}
